{% extends "base.html" %}

{% block content_body %}


    <form id="item_selection_form" method="post">{% csrf_token %}
        <ul class="list-unstyled">
        {% for item in object_list %} 
            <li><input type="checkbox" name="items" value="{{ item.pk }}"> {{ item.name }}
                        {% for item in locations %}
                <li> {{ item.location }} </li>
    
            {% endfor %} </li>
        {% endfor %}
        </ul>
        <button type="submit" id="submit_btn">submit</button>
    </form>

<div class="row">
	<div class="col-md-12">
		<h2>Add a New Item</h2>
		<p>
			<form method="post" action=".">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Add This Item</button>
			</form>
			<a href="https://images.google.com/" target="_blank">Look up an image for this item?</a>				
		</p>
	</div>
</div>

{% endblock content_body %}
